* {
    margin : 0;
    padding:0;
}

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }


/*  la balise body est le conteneur principal
     flexbox dont les enfants s'afficheront sur une colonne
     flex-direction : column;
*/     

body{
    display : flex;
    flex-direction:column;
} 

/*
opérateur de sélection « > » permet de sélectionner
 l'enfant direct de la balise qui précède le «>»
 La différence entre « > » et « » c'est que plus grand permet de sélectionner
 l'enfant direct et « » permet de sélectionner l'enfant l'arrière petite enfant et ainsi de suite.

 Le « > » est plus spécifique que l'aopérateur « »
*/

/*
 C'est toujours le dernier élément de la suite qui est sélectionné. 
 Et c'est sur cet élément qu'on applique la règle de style
*/
body  > div {
    display : flex;
    justify-content: center;
 
}

body > div > section,
body > div > footer,
body > div > header {
    display : flex;
    flex: 0 1 1100px;
    /*border : 1px solid #aaa;*/
    background-color: rgba(0,0,0,.1); /* filtre de transparence */
}

body > div > section {
    padding-top : 100px;
}

body > div > header{
    position : relative;
}

body > div > section{
    min-height : 100vh;
}
/* Entete */
body>div:nth-of-type(1){
    background-image: linear-gradient(to bottom, rgb(40, 42, 78), rgb(0, 0, 0)) ;
    position : sticky;
    top : 0;
}
body>div:nth-of-type(2){
    background-color: #fff;
}
body>div:nth-of-type(3){
    background-color: #eee;
}
body>div:nth-of-type(4){
    background-color: #ddd;
}
body>div:nth-of-type(5){
    background-color: #ccc;
}
body>div:nth-of-type(6){
    background-color: #bbb;
}
body>div:nth-of-type(7){
    background-color: #aaa;
}
body>div:nth-of-type(8){
    background-color: #000000;
}



.entete {
    
}
h3{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
figcaption{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
li{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
p{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; 
}
a{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.titre{
    margin: 20px 0px 0px 32px;
    color: white;
    font-family: 'Permanent Marker', sans-serif;
    font-size: clamp(1rem, -0.875rem + 8.333vw, 3.5rem);
}
.logo{
    width: 100px;
    height: 100px;
}
h2{
    font-size: 2rem;
    font-family: 'Permanent Marker', sans-serif;
}

#accueil section{
    display : flex;
    flex-direction: column;
    gap : 100px;
    align-self: center;
    align-items: center;
}

.liste_accueil{
    font-size: 2rem;
}

.info_article{
    display: flex;
    align-content: space-between;
    flex-wrap: wrap;
}
.figure_article{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: flex-end;
    justify-content: center;
}
.img_article{
    border-radius: 10%;
}

.__tableau{
    /*display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;*/
    border-collapse: collapse;
    background-color: #eee;
    flex: 0 1 1000px;
    margin: 0px 125px 0px 0px;
}
.__tableau th, .__tableau td{
    width: 7rem;
    height: 3rem;
    border: 1px solid black;
    text-align: center;
    
}
.titre__tableau{
    font-size: 2rem;
}

tr{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
th{
    background-color: rgba(40, 42, 78, 0.6);
}

#galerie section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}
.image_galerie{
    flex: 0 1 calc(33.33% - 20px); 
    margin-bottom: 20px; 
    box-sizing: border-box;
    text-align: center; 
}
.image_caption {
    margin-top: -50px;
    margin-left: -110px;
}
/*.deadmau5_img{
    filter: saturate(1.25);
}*/

#video section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start; 
}
.video {
    flex: 0 1 calc(33.33% + 100px); 
    margin-bottom: 20px; 
    box-sizing: border-box;
    text-align: center;
}
.video_caption {
    margin-top: -50px;
    margin-left: -240px;
}
#video h2 {
    margin-bottom: 20px;
}

footer{
    color: #fff;
}
.info_footer{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    align-content: space-around;
}
.img_footer{
    display: flex;
    justify-content: center;
}
.adresse__cegep{
    color: #fff;
}